<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div>
        <h1>{{"form.title" | translate}}</h1>
        <p>{{formCtrl.form.instructions}}<br>
        <b class="form-asterisk">*</b> {{"form.requiredAnswer" | translate}}</p>
      </div>
      <hr>
      <form ng-submit="formCtrl.submit()">
        <div ng-repeat="question in formCtrl.form.questions track by $index">
          <question data="question"></question>
          <br>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">{{"form.submitButton" | translate}}</button>
          <span ng-if="formCtrl.submitted">{{"form.submitted" | translate}}</span>
          <span ng-if="formCtrl.submittedError">{{"form.submittedError" | translate}}</span>
        </div>
      </form>
      <br>
    </div>
  </div>
</div>