/* CSS declarations go here */

body {
  height: 100vh;
  margin: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.navContainer {
  padding-top: 50px;
  display: fixed;
  border: none;
  width: 100%;
  height: 100%;
}

iframe {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.small-search {
  margin-top: 20px;
}

.horizontal-button-margin {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

a.search-result-title {
  font-size: 18px;
}

a.search-result-title:link {
  color: #1a0dab;
}

a.search-result-title:visited {
  color: #609;
}

.search-result-url {
  font-size: 14px;
  color: #006621;
}

.search-result-snippet {
  font-size: 13px;
  color: #545454;
}

.help-block {
  margin-top: 0px;
  margin-bottom: 0px;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
  border: none;
}

.synthesis-container {
  height: 100%;
}

.synthesis-sidebar {
  max-height: 100%;
}

.panel.synthesis-element {
  margin: 5px 0 0 0;
}

.synthesis-element-body {
  max-height: 225px;
  overflow-y: auto;
}

.form-asterisk {
  color: #FF0000;
}

.required-text {
  font-weight: bold;
  color: #FF0000;
}

.modal-xl .modal-dialog {
  width: 95vw;
}

.modal-xl .modal-body {
  height: 75vh;
}

.pagination-wrapper {
  display: block;
  margin: 0 auto;
}

img.logo-home {
  max-width: 50%;
  height: auto;
  display: block;
}

.scrollable {
  overflow: auto;
}

.interaction-bar {
  padding: 5px 5px 5px 5px;
}

.snippet-box {
  background-color: lightblue;
}

.snippet-element {
  display: flex;
  justify-content: space-between;
}

.snippet-text {
  line-height: 20px;
}

.snippet-delete {
  line-height: 20px;
}

.rating-on {
  color: gold;
}

.rating-off {
  color: gray;
}

.btn-back {
  background: lightgray;
  color: black;
}
 
.btn-back:hover, .btn-back:focus, .btn-back:active, .btn-back.active, .open > .dropdown-toggle.btn-back {
  background: darkgray;
  color: white;
}
 
.btn-back:active, .btn-back.active {
  background: gray;
  color: white;
  box-shadow: none;
}

em.hl {
  font-style: normal !important;
  font-weight: bold !important;
  background: none !important;
  color: black !important;
}

mark.highlightSearch {
  font-weight: bold !important;
  background: none !important;
  color: black !important;
}

mark.highlightSnippet {
  font-weight: bold !important;
  background: orange !important;
  color: black !important;
}

.table-nonfluid {
  width: auto !important;
}

.scale-choice {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.tutorial-background {
  background: black;
  height: 550px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.tutorial-image {
  height: 500px;
}

.container-wrapper {
  overflow: auto;
  height: 100%;
  max-height: 100%;
}

.div-fill {
  height: 100%;
  min-height: 100%;
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
}

.hide-hor-scrollbar {
  overflow-x: hidden;
}

.hide-ver-scrollbar {
  overflow-y: hidden;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.fullcenter-parent {
  position: relative;
  height: 100%;
}

.fullcenter-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row-equal-height {
  display: flex;
  flex-wrap: wrap;
}

.flexbox-center-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-message {
  font-weight: bold !important;
  color: yellow !important;
}

div.admin-tab-content {
  margin: 5px 5px 5px 5px;
}

div.admin-row-spacing {
  padding: 5px 5px 5px 5px;
}

.iframe-parent {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.iframe-scale {
  zoom: 0.75;
  transform: scale(0.75);
  transform-origin: 0 0;
  -ms-zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}

.iframe-child {
  width: 100%;
  height: 100%;
  border: 0;
}

.form-group-fix {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

body, html{
  height: 100%;
  background-repeat: no-repeat;
  /*background-color: #d3d3d3;
  font-family: 'Oxygen', sans-serif;*/
}

/*
.main{
  margin-top: 70px;
}
*/

h1.title { 
  font-size: 50px;
  /*font-family: 'Passion One', cursive;*/
  font-weight: 400; 
}

hr.title {
  width: 10%;
  color: #fff;
}

.form-group{
  margin-bottom: 15px;
}

label.login {
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
  background-color: #eee;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
  margin-top: 30px;
  margin: 0 auto;
  max-width: 330px;
    padding: 40px 40px;

}

.login-button{
  margin-top: 5px;
}

.login-register{
  font-size: 11px;
  text-align: center;
}

/* Affective Questionnaire Chat */
.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
  color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
  margin-right: 5px;
}

.panel-body {
  overflow-y: auto;
  min-height: 80%;
  height: 80%;
}

img.chat-image {
  width: 50px;
  height: 50px;
}

/*
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
*/

#map {
  height:480px; 
  width: 100%
}

/*ANGULAR CAROUSEL-UI*/

.carousel-prev {
  position: absolute;
  top: 50%;
  left: -80px;
}
.carousel-next {
  position: absolute;
  top: 50%;
  right: -80px;
}


.v-middle, .ui-carousel .carousel-btn {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%); }

@font-face {
  font-family: "ui-carousel";
  src: url("fonts/ui-carousel.eot");
  src: url("fonts/ui-carousel.eot?#iefix") format("embedded-opentype"), url("fonts/ui-carousel.woff") format("woff"), url("fonts/ui-carousel.ttf") format("truetype"), url("fonts/ui-carousel.svg#ui-carousel") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "ui-carousel" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="ui-icon-"]:before,
[class*=" ui-icon-"]:before {
  font-family: "ui-carousel" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ui-icon-prev:before {
  content: "\21E6"; }

.ui-icon-next:before {
  content: "\21E8"; }

.ui-icon-dot:before {
  content: "\63"; }

.ui-carousel {
  display: block;
  margin-bottom: 30px; }
  .ui-carousel .carousel-wrapper {
    position: relative; }
  .ui-carousel .track-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0; }
  .ui-carousel .track {
    position: relative;
    display: block;
    float: left; }
  .ui-carousel .slide {
    float: left;
    height: 100%;
    min-height: 1px; }
  .ui-carousel .carousel-btn {
    position: absolute;
    z-index: 10;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 20px;
    opacity: .75; }
    .ui-carousel .carousel-btn:hover {
      opacity: 1; }
  .ui-carousel .carousel-prev .carousel-btn {
    left: -25px; }
  .ui-carousel .carousel-next .carousel-btn {
    right: -25px; }
  .ui-carousel .carousel-disable {
    opacity: 0.5; }
    .ui-carousel .carousel-disable .carousel-btn:hover {
      opacity: .75; }

.carousel-dots {
  position: absolute;
  bottom: -30px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }
  .carousel-dots li {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .carousel-dots li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 15px;
      height: 15px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent; }
      .carousel-dots li button:before {
        font-family: ui-carousel;
        font-size: 9px;
        line-height: 15px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 15px;
        height: 15px;
        content: "\63";
        text-align: center;
        opacity: 0.25;
        color: black;
        -webkit-font-smoothing: antialiased; }
    .carousel-dots li.carousel-active button:before {
      opacity: .75; }