<div class="container-fluid">
  <div class="row">
    <h1>NEURONE <small>{{"app.admin.title" | translate}}</small></h1>
  </div>
  <div class="row">
    <uib-tabset>
      <uib-tab index="0">
        <uib-tab-heading>
          <i class="fa fa-home" aria-hidden="true"></i> Home
        </uib-tab-heading>
        Main
      </uib-tab>
      <uib-tab index="1">
        <uib-tab-heading>
          <i class="fa fa-users" aria-hidden="true"></i> User Enrollment
        </uib-tab-heading>
        User enrollment options
      </uib-tab>
      <uib-tab index="2">
        <uib-tab-heading>
          <i class="fa fa-archive" aria-hidden="true"></i> Flow Creator
        </uib-tab-heading>
        Flows
      </uib-tab>
      <uib-tab index="3">
        <uib-tab-heading>
          <i class="fa fa-eye" aria-hidden="true"></i> Document Viewer
        </uib-tab-heading>
        Docs
      </uib-tab>
      <uib-tab index="4">
        <uib-tab-heading>
          <i class="fa fa-file-text-o" aria-hidden="true"></i> Document Generator
        </uib-tab-heading>
        Docs
      </uib-tab>
    </uib-tabset>
  </div>
</div>