<div class="container">
  <div class="row">
    <h1>NEURONE <small>{{"app.enrollment" | translate}}</small></h1>
    <form name="enrollment.form">
      <div class="col-md-9">
        <div class="form-inline">
          <select class="form-control" ng-model="enrollment.testAct" ng-required="true">
            <option value="">-- AccountType --</option>
            <option value="true">TestAccount</option>
            <option value="false">RealAccount</option>
          </select>
          <select class="form-control" ng-model="enrollment.domain" ng-required="true">
            <option value="">-- SearchDomain --</option>
            <option value="SS">SocialScience</option>
            <option value="SC">Science</option>
            <option value="PL">Pilot</option>
          </select>
          <select class="form-control" ng-model="enrollment.task" ng-required="true">
            <option value="">-- TaskType --</option>
            <option value="E">Email</option>
            <option value="A">Article</option>
            <option value="P">Pilot</option>
          </select>
          <select class="form-control" ng-model="enrollment.studyStage" ng-required="true">
            <option value="">-- StudyStage --</option>
            <option value="1">Pretest</option>
            <option value="2">Posttest</option>
          </select>
          <select class="form-control" ng-model="enrollment.studyOrder" ng-required="true">
            <option value="">-- StudyOrder --</option>
            <option value="1">First</option>
            <option value="2">Second</option>
          </select>
        </div>
        <div class="form-inline">
          <label class="control-label">
            UniversityCode
            <input class="form-control" type="number" min="0" ng-min="0" max="9" ng-max="9" ng-model="enrollment.university" ng-required="true">
          </label>
          <label class="control-label">
            SchoolCode
            <input class="form-control" type="number" min="0" ng-min="0" max="99" ng-max="99" ng-model="enrollment.school" ng-required="true">
          </label>
          <label>
            StartingUserId
            <input class="form-control" type="number" min="0" ng-min="0" max="9999" ng-max="9999" ng-model="enrollment.idStart" ng-required="true">
          </label>
          <label>
            EndingUserId
            <input class="form-control" type="number" min="0" ng-min="0" max="9999" ng-max="9999" ng-model="enrollment.idEnd" ng-required="true">
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-info" ng-click="enrollment.generateUsers()">Generate Users</button>
        <button type="button" class="btn btn-success" ng-click="enrollment.registerUsers()">Register Users</button>
        <button type="button" class="btn btn-warning" ng-csv="enrollment.userList" filename="neuroneUsers.csv">Export as CSV</button>
      </div>
    </form>
  </div>
  <hr>
  <div class="row">
    <table class="table table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            Username
          </th>
          <th>
            Password
          </th>
          <th>
            Test
          </th>
          <th>
            University
          </th>
          <th>
            School
          </th>
          <th>
            Domain
          </th>
          <th>
            Task
          </th>
          <th>
            Stage
          </th>
          <th>
            Order
          </th>
          <th>
            UserId
          </th>
          <th>
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in enrollment.userList track by $index">
          <td>
            {{$index+1}}
          </td>
          <td>
            {{user.username}}
          </td>
          <td>
            {{user.password}}
          </td>
          <td>
            {{user.test}}
          </td>
          <td>
            {{user.university}}
          </td>
          <td>
            {{user.school}}
          </td>
          <td>
            {{user.domain}}
          </td>
          <td>
            {{user.task}}
          </td>
          <td>
            {{user.studyStage}}
          </td>
          <td>
            {{user.studyOrder}}
          </td>
          <td>
            {{user.userId}}
          </td>
          <td>
            <b>{{user.status}}</b>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>