<div class="modal-header">
  <button class="btn btn-xs btn-danger pull-right" type="button" ng-click="modal.close()" ng-if="!(modal.showFooter)">{{"modal.closeButton" | translate}}</button>
  <h3 class="modal-title" id="modal-title" ng-if="modal.title">{{modal.title}}</h3>
</div>
<form name="modal.form" ng-submit="modal.ok()" novalidate>
  <div class="modal-body" id="modal-body">
    <div ng-include="modal.template" class="scrollable"></div>
  </div>
  <div class="modal-footer" id="modal-footer" ng-if="modal.showFooter">
    <div ng-if="modal.buttonType==='okcancel'">
      <button class="btn btn-danger" type="button" ng-click="modal.cancel()">{{"modal.cancelButton" | translate}}</button>
      <button class="btn btn-success" type="submit">{{"modal.acceptButton" | translate}}</button>
    </div>
    <div ng-if="modal.buttonType==='nextstage'">
      <button class="btn btn-success" type="submit">{{"modal.nextStageButton" | translate}}</button>
    </div>
    <div ng-if="modal.buttonType==='next'">
      <button class="btn btn-success" type="submit">{{"modal.next" | translate}}</button>
    </div>
    <div ng-if="modal.buttonType==='back'">
      <button class="btn btn-primary" type="submit">{{"modal.goBackButton" | translate}}</button>
    </div>
    <div ng-if="modal.buttonType==='button'">
      <button class="btn btn-primary" type="button" ng-click="modal.button(modal.buttonName)">modal.buttonName</button>
    </div>
    <div ng-if="modal.buttonType==='save'">
      <button class="btn btn-danger" type="button" ng-click="modal.cancel()">Cancel</button>
      <button class="btn btn-success" type="submit">Save</button>
    </div>
  </div>
</form>