<div class="container">
  <div class="row">
    <div id="header" class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
      <h1>NEURONE <small>{{"app.documentList" | translate}}</small></h1>
      <div>
      </div>
    </div>
    <hr>
    <div id="results" class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
      <div ng-repeat="doc in viewDocuments.documents.slice(((viewDocuments.currentPage-1)*viewDocuments.resultsPerPage), ((viewDocuments.currentPage)*viewDocuments.resultsPerPage)) track by doc._id">
        <a class="search-result-title" ui-sref="displayPage({ docName: doc._id })">{{doc.title}}</a>
        <div><span class="search-result-url">{{doc.url}}</span> | Relevant: {{ !!(doc.relevant) }}</div>
        <div class="search-result-snippet highlight">{{doc.searchSnippet | words: 50}}</div>
        <br>
      </div>
      <div class="pagination-wrapper" ng-if="viewDocuments.documents.length > 0">
        <ul uib-pagination total-items="viewDocuments.totalResults" ng-model="viewDocuments.currentPage" items-per-page="viewDocuments.resultsPerPage"></ul>
      </div>
    </div>
  </div>
</div>