<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Project Demo</a>
    <ul class="nav navbar-nav">
      <li><a href="/search">Search</a></li>
      <li><a href="/documents">Documents</a></li>
      <li><a href="#">Visited Links</a></li>
      <li><a href="#">Snippets</a></li>
    </ul>
    <button type="button" class="btn btn-primary navbar-btn navbar-right" onclick="Meteor.methods('getSnippet')">Save Snippet</button>
  </div>
</nav>