<div class="container-fluid container-wrapper">
  <div class="row container-wrapper">
    <div class="col-lg-9 col-md-9 col-sm-9 div-fill">
      <div ui-view="pageview" class="div-fill"></div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 container-wrapper">
      <div ui-view="snippetbar"></div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="criticalEval/pageview.html">
  <div ui-view class="div-fill highlight" ng-if="pageview.meteorReady">
    <display-iframe></display-iframe>
  </div>
</script>

<script type="text/ng-template" id="criticalEval/snippetbar.html">
  <div ui-view>
    <div class="interaction-bar">
      <form name="snippetbar.evaluationForm" novalidate>
        <uib-tabset active="active">
          <uib-tab index="$index + 1" ng-repeat="page in snippetbar.pages track by $index" heading="{{'snippet.page' | translate: { pageNum: $index+1 } }}" ng-click="snippetbar.changePage($index)">
            <div class="interaction-bar">
              <h4>{{page.title}}</h4>
              <hr>
              <ng-form name="{{snippetbar.forms.index}}">
                <div ng-repeat="question in snippetbar.forms[$index].questions">
                  <question data="question"></question>
                  <br>
                </div>
              </ng-form>
            </div>
          </uib-tab>
        </uib-tabset>
      </form>
    </div>
  </div>
</script>