<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

  <form name="mapsSearch.form" >
    <div class="form-group">
      <div class="col-md-8">
        <input id="query" class="form-control" type="text" placeholder="Search" ng-model="mapsSearch.query" ng-required="true">
      </div>
      <button type="submit" class="btn btn-info" ng-click="mapsSearch.Search()">
        <i class="fa fa-eye" aria-hidden="true"></i> Search in map
      </button>
    </div>
  </form>
  <div id="map"></div>
