<!-- dgacitua: Home mode -->
<div class="container" ng-if="!search.firstSearch">
  <div class="text-center">
    <br><br>
    <img src="searchlogo.png" class="img-responsive center-block" style="width: 500px">
    <!--<h1>{{"search.searchEngineTitle" | translate}}</h1>-->
    <br>
    <form class="row center-block" ng-submit="search.doSearch()">
      <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 input-group">
        <input class="form-control input-lg" placeholder="{{'search.searchPlaceholder' | translate}}" id="searchText" type="text" ng-model="search.searchText">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-lg btn-success" id="btn-search">
            <i class="fa fa-search"></i> {{"search.searchButton" | translate}}
          </button>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- dgacitua: Display results mode -->
<div class="container" ng-if="search.firstSearch">
  <div class="small-search text-center">   
    <form class="row center-block" ng-submit="search.doSearch()">
      <div class="col-md-2 col-xs-3 vcenter">
        <img src="searchlogo.png" class="img-responsive">
      </div>
      <div class="col-md-6 col-xs-9 vcenter">
        <div class="input-group">
          <input class="form-control" placeholder="{{'search.searchPlaceholder' | translate}}" id="searchText" type="text" ng-model="search.searchText">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-success" id="btn-search">
              <i class="fa fa-search"></i> {{"search.searchButton" | translate}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <hr>
  <div id="search" class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
    <div ng-if="!search.resultsReady">
      <div class="text-center">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">{{"search.loading" | translate}}</span>
      </div>
    </div>
    <div ng-if="search.resultsReady">

      <div class="row admin-row-spacing">
        <uib-tabset>
          <uib-tab index="0">
            <uib-tab-heading>
              <i class="fa fa-search" aria-hidden="true"></i> Web
            </uib-tab-heading>

            <div ng-if="search.multimediaObjects.image">
              <ui-carousel
                slides="search.images"
                slides-to-show="4"
                slides-to-scroll="1">
                <carousel-item>
                  <img src="{{item.img}}" alt="{{item.title}}" height="100px" width="150px" ui-sref="displayPage({ docName: item.route })" ng-click="search.storeEvent('SearchResultSelected', {docId: item.route})">
                </carousel-item>
                <carousel-prev> 
                  <i class="fa fa-angle-left fa-5x" aria-hidden="true" ></i>
                </carousel-prev>
                <carousel-next> <i class="fa fa-angle-right fa-5x" aria-hidden="true"></i></carousel-next>
              </ui-carousel>
            </div>

            <div ng-repeat="doc in search.documents.slice(((search.currentPage-1)*search.resultsPerPage), ((search.currentPage)*search.resultsPerPage)) track by doc._id">
              
              <div ng-if="doc.type == 'video' && search.multimediaObjects.video">
                  <a class="search-result-title" ui-sref="displayPage({ docName: doc._id })" ng-click="search.storeEvent('SearchResultSelected', {docId: doc._id})">{{doc.title}}</a>
                  <div class="search-result-url">{{doc.url}} </div>
                  <div class="row ">
                  <div class="clearfix visible-xs"></div>
                    <div class="col-md-2  col-xs-3">
                      <img src="{{doc.thumbnail}}" alt="{{doc.title}}" height="100px" width="150px" ui-sref="displayPage({ docName: doc._id })" ng-click="search.storeEvent('SearchResultSelected', {docId: doc._id})">
                    </div>
                    <div class="col-md-8 col-xs-7">
                      <div style="margin-left: 20px;" class="search-result-snippet highlight" ng-bind-html="doc.searchSnippet | words: 50"> </div>
                    </div>
                  </div>
                </div>        
                <div ng-if="doc.type == 'book' && search.multimediaObjects.book" >
                     <a class="search-result-title" ui-sref="displayPage({ docName: doc._id })" ng-click="search.storeEvent('SearchResultSelected', {docId: doc._id})">[PDF] {{doc.title}}</a>
                     <div class="search-result-url">{{doc.url}} </div>
                     <div class="search-result-snippet highlight" ng-bind-html="doc.searchSnippet | words: 50"></div>
                </div>
                <div ng-if="doc.type != 'book' && doc.type != 'video' && doc.type != 'image'" >
                  <a class="search-result-title" ui-sref="displayPage({ docName: doc._id })" ng-click="search.storeEvent('SearchResultSelected', {docId: doc._id})">{{doc.title}}</a>
                  <div class="search-result-url">{{doc.url}} </div>
                  <div class="search-result-snippet highlight" ng-bind-html="doc.searchSnippet | words: 50"></div>
                </div>
                <br>
            </div>

            <div class="pagination-wrapper text-center" ng-if="search.documents.length > 0">
              <ul uib-pagination total-items="search.totalResults" ng-model="search.currentPage" items-per-page="search.resultsPerPage"></ul>
            </div>
            <div ng-if="search.documents.length <= 0" class="text-center">
              <h3>{{"search.noResults" | translate}}</h3>
            </div>
          </uib-tab>

          
          <uib-tab index="1" disable="!search.multimediaObjects.image">
            <uib-tab-heading>
              <i class="fa fa-picture-o" aria-hidden="true"></i>  Images
            </uib-tab-heading>
            <div ng-if="search.images.length <= 0" class="text-center">
              <h3>{{"search.noResults" | translate}}</h3>
            </div>
            
            <div id="imgSearch" class="col-md-3" ng-repeat="doc in search.images track by doc._id" ui-sref="displayPage({ docName: doc.route })" ng-click="search.storeEvent('SearchResultSelected', {docId: doc.route})" >
              <p ui-sref="displayPage({ docName: doc.route })" >{{doc.url}}</p>
              <img src="{{doc.img}}" alt="{{doc.title}}" height="100px" width="150px"  />
              <label  ui-sref="displayPage({ docName: doc.route })" >{{doc.title}}</label>
            </div>



          </uib-tab>


          <uib-tab index="2" disable="!search.multimediaObjects.video">
            <uib-tab-heading>
              <i class="fa fa-youtube-play" aria-hidden="true"></i> Videos
            </uib-tab-heading>
            <div ng-if="search.videos.length <= 0" class="text-center">
              <h3>{{"search.noResults" | translate}}</h3>
            </div>
            <div ng-repeat="doc in search.videos.slice(((search.currentPage-1)*search.resultsPerPage), ((search.currentPage)*search.resultsPerPage))  track by doc._id" >
            <div >
              <a class="search-result-title" ui-sref="displayPage({ docName: doc._id })" ng-click="search.storeEvent('SearchResultSelected', {docId: doc._id})">{{doc.title}}</a>
              <div class="search-result-url">{{doc.url}} </div>
              <div class="row ">
              <div class="clearfix visible-xs"></div>
                <div class="col-md-2  col-xs-3">
                  <img src="{{doc.thumbnail}}" alt="{{doc.title}}" height="100px" width="150px" ui-sref="displayPage({ docName: doc._id })" ng-click="search.storeEvent('SearchResultSelected', {docId: doc._id})">
                </div>
                <div class="col-md-8 col-xs-7">
                  <div style="margin-left: 20px;" class="search-result-snippet highlight" ng-bind-html="doc.searchSnippet | words: 50"> </div>
                </div>
              </div>
            </div>   
          </div>
          <div class="pagination-wrapper text-center" ng-if="search.videos.length > 0">
            <ul uib-pagination total-items="search.videoResults" ng-model="search.currentPage" items-per-page="search.resultsPerPage"></ul>
          </div>
          </uib-tab>

          <uib-tab index="3" disable="!search.multimediaObjects.book">
            <uib-tab-heading>
              <i class="fa fa-book" aria-hidden="true"></i> Book
            </uib-tab-heading>
            <div ng-if="search.books.length <= 0" class="text-center">
              <h3>{{"search.noResults" | translate}}</h3>
            </div>
            <div ng-repeat="doc in search.books.slice(((search.currentPage-1)*search.resultsPerPage), ((search.currentPage)*search.resultsPerPage)) track by doc._id">
              <div ng-if="doc.type == 'book'" >
                <a class="search-result-title" ui-sref="displayPage({ docName: doc._id })" ng-click="search.storeEvent('SearchResultSelected', {docId: doc._id})">[PDF] {{doc.title}}</a>
                <div class="search-result-url">{{doc.url}}</div>
                <div class="search-result-snippet highlight" ng-bind-html="doc.searchSnippet | words: 50"></div>
              </div>
            </div>
              <div class="pagination-wrapper text-center" ng-if="search.books.length > 0">
                <ul uib-pagination total-items="search.bookResults" ng-model="search.currentPage" items-per-page="search.resultsPerPage"></ul>
              </div>

          </uib-tab>


          <uib-tab index="4" disable="!search.multimediaObjects.maps" ng-click="mapsSearch.fixMap()">
            <uib-tab-heading>
              <i class="fa fa-map-marker" aria-hidden="true"></i> Maps
            </uib-tab-heading>
            <div ui-view="mapsSearch" ></div>
            
          </uib-tab>
        </uib-tabset>
      </div>

    </div>
  </div>
</div>