<div class="container-fluid container-wrapper">
  <div class="row container-wrapper">
    <div class="col-lg-7 col-md-7 col-sm-7 container-wrapper">
      <br>
      <p><b>{{synthesis.question}}</b></p>
      <form ng-submit="synthesis.submit()">
        <ng-wig ng-model="synthesis.answer" ng-change="synthesis.updateWordCounter()" buttons="formats, bold, italic, underline, list1, list2"></ng-wig>
        <div id="synthesisCounter" class="text-right">
          {{"synthesis.wordCount" | translate: {words: synthesis.wordCount} }}
        </div>
        <div id="synthesisMessage" class="text-center">
          <i>{{synthesis.synthesisMessage}}</i>
        </div>
      </form>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 container-wrapper">
      <div class="interaction-bar">
      <uib-tabset active="active">
        <uib-tab index="0" heading="{{'synthesis.allPages' | translate}}">
          <h4>{{"synthesis.allTitle" | translate}}</h4>
          <hr>
          <uib-accordion index="$index+1" ng-repeat="snippet in synthesis.snippetListGlobal track by $index">
            <div uib-accordion-group class="panel-default"  is-open="snippet.isOpen">
              <uib-accordion-heading>
                {{"synthesis.snippetAll" | translate: {snipNum: $index+1} }} <i>{{snippet.snippedText | words: 5}}</i> <i class="pull-right fa" ng-class="{'fa-chevron-down': snippet.isOpen, 'fa-chevron-right': !snippet.isOpen}"></i>
              </uib-accordion-heading>
              <div role="button" ng-click="synthesis.launchPageModal(snippet)">
                {{snippet.snippedText}}
              </div>
            </div>
          </uib-accordion>
        </uib-tab>
        <uib-tab index="$index+1" ng-repeat="page in synthesis.pageList track by $index" ng-click="synthesis.changePage($index)" heading="{{'synthesis.page' | translate: { pageNum: $index+1 } }}">
          <h4>{{page.title}}</h4>
          <hr>
          <uib-accordion index="$index+1" ng-repeat="snippet in synthesis.snippetListPerPage track by $index">
            <div uib-accordion-group class="panel-default" is-open="snippet.isOpen">
              <uib-accordion-heading>
                {{"synthesis.snippetAll" | translate: {snipNum: $index+1} }} <i>{{snippet.snippedText | words: 5}}</i> <i class="pull-right fa" ng-class="{'fa-chevron-down': snippet.isOpen, 'fa-chevron-right': !snippet.isOpen}"></i>
              </uib-accordion-heading>
              <div role="button" ng-click="synthesis.launchPageModal(snippet)">
                {{snippet.snippedText}}
              </div>
            </div>
          </uib-accordion>
        </uib-tab>
      </uib-tabset>
    </div>
    </div>
  </div>
</div>