<div class="container">
  <div class="text-center">   
    <form class="row center-block" ng-submit="searchResults.doSearch()">
      <div class="col-md-6 col-md-offset-2 search-box">
        <input class="form-control" placeholder="Enter Text to Search" id="searchText" type="text" ng-model="searchResults.searchText">
      </div>
      <div class="col-md-1"><button type="submit" class="btn btn-success search-box" id="btn-search"><i class="fa fa-search"></i>Search</button></div>
      <div class="col-md-3"></div>
    </form>
    </div>
  </div>
  <hr>
  <div>
    <div ng-repeat="doc in searchResults.documents">
      <b><a ui-sref="documentDetails({ docId: doc.id })">{{doc.title[0]}}</a></b>
      [{{doc.date[0]}}]
      <p>{{doc.body[0] | limitTo: 256}}{{doc.body[0].length > 256 ? '...' : ''}}</p>
      <br>
    </div>
  </div>
</div>