<div class="container">
  <div class="text-center">   
    <br><br>
    <!--<img src="http://localhost/logo.png" class="img-responsive center-block">-->
    <h1>My Search Engine</h1>
    <br>
    <form class="row center-block" ng-submit="search.doSearch()">
      <div class="col-md-6 col-md-offset-2 search-box">
        <input class="form-control input-lg" placeholder="Enter Text to Search" id="searchText" type="text" ng-model="search.searchText">
      </div>
      <div class="col-md-1"><button type="submit" class="btn btn-lg btn-success search-box" id="btn-search"><i class="fa fa-search"></i> Search</button></div>
      <div class="col-md-3"></div>
    </form>
    </div>
  </div>
</div>
