<div class="container">
  <h1>Welcome to Project Demo!</h1>

  <ul>
    <li>Please register an login with your email to test this demo.</li>
    <li>This demo features: Search Documents, Document Preview, Visited Links List, Snippet Grabbing Tool and Interactions Tracking.</li>
    <li>The current document loaded set is a very small selection of <a href="https://archive.ics.uci.edu/ml/datasets/Reuters-21578+Text+Categorization+Collection">Reuters-21578</a> dataset.</li>
    <li>Note that all your mouse and keyboard interactions will be registered (you can see your activity in your browser's Developer Console).</li>
  </ul>
</div>