<div class="container">
  <h1>Welcome to Project Demo!</h1>

  <ul>
    <li>Please register and login with your email to test this demo.</li>
    <li>This demo features: Search Documents, Document Preview (as a HTML page), Visited Links List, Snippet Grabbing Tool and Interactions Tracking.</li>
    <li>The current document loaded set is a very selection of Olympics and Paralympics from Wikipedia.</li>
    <li>Note that all your mouse and keyboard interactions will be registered. You can see your activity in your browser's Developer Console (press F12 on Chrome or Firefox).</li>
  </ul>
</div>