<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="/">{{"app.navbarTitle" | translate}}</a>
    </div>

    <div class="navbar-header pull-right">
      <div class="nav pull-left" ng-if="navigation.isLoggedIn">
        <div id="navbarMessage" class="navbar-text pull-left horizontal-button-margin">{{navigation.navbarMessage}}</div>
        <button type="button" class="btn btn-info navbar-btn horizontal-button-margin" ng-if="navigation.isOnPage" ng-click="navigation.saveSnippet()">{{"actions.snippetButton" | translate}}</button>
        <button type="button" class="btn btn-warning navbar-btn horizontal-button-margin" ng-if="navigation.isOnPage && !navigation.isBookmarked" ng-click="navigation.saveBookmark()">{{"actions.bookmarkButton" | translate}}</button>
        <button type="button" class="btn btn-warning navbar-btn horizontal-button-margin" ng-if="navigation.isOnPage && navigation.isBookmarked" ng-click="navigation.removeBookmark()">{{"actions.unbookmarkButton" | translate}}</button>
        <button type="button" class="btn btn-danger navbar-btn horizontal-button-margin" ng-click="navigation.logout()">{{"auth.logoutButton" | translate}}</button>
      </div>
      <div class="nav pull-left btn-group horizontal-button-margin" role="group" ng-if="!navigation.isLoggedIn">
        <button type="button" class="btn btn-success navbar-btn" ui-sref="register">{{"auth.registerButton" | translate}}</button>
        <button type="button" class="btn btn-primary navbar-btn" ui-sref="login">{{"auth.loginButton" | translate}}</button>
      </div>
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle" ng-if="navigation.isLoggedIn">
        <span class="sr-only">{{"app.toggleNav" | translate}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-menu" ng-if="navigation.isLoggedIn">
      <ul class="nav navbar-nav">
        <li><a href="/search">{{"app.search" | translate}}</a></li>
        <li><a href="/form?id=st1">{{"app.forms" | translate}}</a></li>
        <li><a href="/synthesis?id=syn3">{{"app.synthesis" | translate}}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{"app.showcase" | translate}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/flow">{{"app.flow" | translate}}</a></li>
            <li><a href="/documents">{{"app.documents" | translate}}</a></li>
            <li><a href="/visitedLinks">{{"app.visitedLinks" | translate}}</a></li>
            <li><a href="/snippets">{{"app.snippets" | translate}}</a></li>
            <li><a href="/bookmarks">{{"app.bookmarks" | translate}}</a></li>
            <li><a href="/internationalization">{{"app.i18n" | translate}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>