<div class="container">
  <h1>Flow Test</h1>
  <p>
    <b>Starting Local Time:</b> {{flow.startTime}}<br>
    <b>Current Server Time:</b> {{flow.serverTime}}<br>
    <b>Time Elapsed:</b> {{flow.timeElapsed}} sec<br>
    <b>Server Offset:</b> {{flow.serverOffset}} ms<br>
    <b>Round Trip Time:</b> {{flow.serverRTT}} ms<br>
  </p>
  <button ng-click="flow.simulation()">Start simulation</button>
  <button ng-click="flow.stopSimulation()">Stop simulation</button>
  <button ng-click="flow.flow()">Start flow</button>
  <button ng-click="flow.stopFlow()">Stop flow</button>
  <p><b>Current Stage:</b> {{flow.currentStage}}<br>
  <b>Stage Number:</b> {{flow.$rootScope.stageCounter}}<br>
  <b>Elapsed Time:</b> {{flow.$rootScope.elapsedTime}}<br>
  <b>Accumulated Time:</b> {{flow.$rootScope.accumulatedTime}}<br>
  <b>Simulation Total Time:</b> {{flow.$rootScope.simulationTime}}</p>
</div>