<div class="container-fluid">
  <div>
    <b>Questionnaires</b> are groups of questions that can be called from study stages. Questionnaire IDs must be unique strings between all available questionnaires in this NEURONE instance!
  </div>
  <br>
  <div class="form-horizontal">
    <div class="form-group form-group-fix">
      <label for="qid" class="col-md-4 control-label">Questionnaire ID</label>
      <div class="col-md-8">
        <input id="qid" class="form-control" type="text" placeholder="questionnaire-1" ng-model="modal.answers.questionnaireId" ng-required="true">
      </div>
    </div>
    <div class="form-group form-group-fix">
      <label for="instructions" class="col-md-4 control-label">Questionnaire Instructions</label>
      <div class="col-md-8">
        <input id="instructions" class="form-control" type="paragraph" placeholder="Please answer these questions to be able to continue" ng-model="modal.answers.instructions">
      </div>
    </div>
    <div class="form-group form-group-fix">
      <label for="questions" class="col-md-4 control-label">Questions</label>
      <div class="col-md-8">
        <multiselect
          id="questions"
          ng-model="modal.answers.questions"
          options="modal.fields.formQuestions"
          id-prop="questionId"
          display-prop="questionId"
          show-search="true"
          ng-required="true">
        </multiselect>
      </div>
    </div>
  </div>
</div>