<div class="container-fluid">
  <div class="row">
    <div class="form-horizontal">
      <div class="form-group form-group-fix">
        <label for="name" class="col-xs-4 control-label">Synthesis ID</label>
        <div class="col-xs-8">
          <input id="name" class="form-control" type="text" placeholder="syn01-en" ng-model="modal.answers.synthesisId" ng-required="true">
        </div>
      </div>
      <div class="form-group form-group-fix">
        <label for="code" class="col-xs-4 control-label">Synthesis Question</label>
        <div class="col-xs-8">
          <textarea id="code" class="form-control" type="text" placeholder="What do you think of the pages that you have just reviewed?" ng-model="modal.answers.question" ng-required="true"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>