<div class="container-fluid">
  <div class="row">
    <uib-tabset active="modal.answers.type" justified="true">
      <uib-tab index="text" heading="Text" select="setAnswerType('text')">
        <br>
        <div class="form-horizontal">
          <div class="form-group form-group-fix">
            <label for="title" class="col-md-4 control-label">Title</label>
            <div class="col-md-8">
              <input id="title" class="form-control" type="text" placeholder="What's the result of 2+2?" ng-model="modal.answers.title" ng-required="true">
            </div>
          </div>
          <div class="form-group form-group-fix">
            <label for="hint" class="col-md-4 control-label">Hint</label>
            <div class="col-md-8">
              <input id="hint" class="form-control" type="text" placeholder="It's a math operation!" ng-model="modal.answers.hint">
            </div>
            <div class="form-group form-group-fix">
              <div class="col-md-offset-4 col-md-8">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="modal.answers.required"> Required text answer
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="paragraph" heading="Paragraph" select="setAnswerType('paragraph')">
        <br>
        <div class="form-horizontal">
          <div class="form-group form-group-fix">
            <label for="title" class="col-md-4 control-label">Title</label>
            <div class="col-md-8">
              <input id="title" class="form-control" type="text" placeholder="What's the result of 2+2?" ng-model="modal.answers.title" ng-required="true">
            </div>
          </div>
          <div class="form-group form-group-fix">
            <label for="hint" class="col-md-4 control-label">Hint</label>
            <div class="col-md-8">
              <input id="hint" class="form-control" type="text" placeholder="It's a math operation!" ng-model="modal.answers.hint">
            </div>
            <div class="form-group form-group-fix">
              <div class="col-md-offset-4 col-md-8">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="modal.answers.required"> Required paragraph answer
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="multipleChoice" heading="MultipleChoice" select="setAnswerType('multipleChoice')">
      </uib-tab>
      <uib-tab index="checkbox" heading="Checkbox" select="setAnswerType('checkbox')">
      </uib-tab>
      <uib-tab index="list" heading="List" select="setAnswerType('list')">
      </uib-tab>
      <uib-tab index="date" heading="Date" select="setAnswerType('date')">
      </uib-tab>
      <uib-tab index="time" heading="Time" select="setAnswerType('time')">
      </uib-tab>
      <uib-tab index="scale" heading="Scale" select="setAnswerType('scale')">
      </uib-tab>
      <uib-tab index="rating" heading="Rating" select="setAnswerType('rating')">
      </uib-tab>
    </uib-tabset>
  </div>
</div>