<div class="container-fluid">
  <div class="row">
    The NEURONE Document Loader can download, index and adapt any website directly from server. It is possible to use any website available in the server's network (even from public internet, if available). Fill the following fields to download a site:
  </div>
  <br>
  <div class="row row-equal-height">
    <div class="col-md-5">
      <form name="documentLoader.form" class="form-horizontal">
        <div class="form-group">
          <label for="docName" class="col-md-4 control-label">Document Name</label>
          <div class="col-md-8">
            <input id="docName" class="form-control" type="text" placeholder="mydoc-01" ng-model="documentLoader.docName" ng-required="true">
          </div>
        </div>
        <div class="form-group">
          <label for="url" class="col-md-4 control-label">Document URL</label>
          <div class="col-md-8">
            <input id="url" class="form-control" type="text" placeholder="https://blog.meteor.com/" ng-model="documentLoader.url" ng-required="true">
          </div>
        </div>
        <div class="form-group">
          <label for="url" class="col-md-4 control-label">Document Title</label>
          <div class="col-md-8">
            <input id="url" class="form-control" type="text" placeholder="Meteor Blog" ng-model="documentLoader.title" ng-required="true">
          </div>
        </div>
        <div class="form-group">
          <label for="locale" class="col-md-4 control-label">Locale Code</label>
          <div class="col-md-8">
            <input id="locale" class="form-control" type="text" placeholder="en" ng-model="documentLoader.locale" ng-required="true">
          </div>
        </div>
        <div class="form-group">
          <label for="domain" class="col-md-4 control-label">Domain</label>
          <div class="col-md-8">
            <input id="domain" class="form-control" type="text" placeholder="science" ng-model="documentLoader.domain" ng-required="true">
          </div>
        </div>
        <div class="form-group">
          <label for="task" class="col-md-4 control-label">Task</label>
          <div class="col-md-8">
            <input id="task" class="form-control" type="text" placeholder="article" ng-model="documentLoader.task" ng-required="true">
          </div>
        </div>
        <div class="form-group">
          <label for="task" class="col-md-4 control-label">Keywords</label>
          <div class="col-md-8">
            <input id="task" class="form-control" type="text" placeholder="meteor, blog article, computers" ng-model="documentLoader.keywords">
          </div>
        </div>
        <div class="form-group">
          <label for="snippet" class="col-md-4 control-label">Search Snippet</label>
          <div class="col-md-8">
            <textarea id="snippet" class="form-control" rows="5" placeholder="This is a brief description of the contents of the website, shown as a fallback 'search snippet' in case NEURONE's search index cannot build one automatically." ng-model="documentLoader.snippet"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="documentLoader.relevant"> Relevant Document
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-info col-md-6" ng-click="documentLoader.previewDocument()">Preview Page from URL</button>
          <button type="submit" class="btn btn-success col-md-6" ng-click="documentLoader.downloadDocument()">Download Page from URL</button>
        </div>
      </form>
    </div>
    <div class="col-md-7 flexbox-center-parent">
      <div ng-if="documentLoader.state === 'wait'">
        <h3>Waiting for input...</h3>
      </div>
      <div ng-if="documentLoader.state === 'load'">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Downloading web page...</span>
      </div>
      <div ng-if="documentLoader.state === 'error'">
        <h3>Error while downloading!</h3>
      </div>
      <div ng-if="documentLoader.state === 'show'" class="iframe-parent">
        <p><b>Page Downloaded!</b> | {{documentLoader.doc.docName}} | {{documentLoader.doc._id}}</p>
        <br>
        <iframe class="iframe-child" ng-src="{{documentLoader.route}}"></iframe>
      </div>
    </div>
  </div>
</div>