<div class="container-fluid">
  <div class="row">
    The NEURONE Document Loader can download, index and adapt any website directly from server. It is possible to use any website available in the server's network (even from public internet, if available). Fill the following fields to download a site:
  </div>
  <br>
  <div class="row row-equal-height">
    <div class="col-md-5">
      <form name="documentLoader.form" class="form-horizontal">
        <div class="row">
          <div class="form-group">
            <label for="docName" class="col-md-4 control-label">Document Name <span class="required-text">*</span></label>
            <div class="col-md-8">
              <input id="docName" class="form-control" type="text" placeholder="mydoc-01" ng-model="documentLoader.docName" ng-required="true">
            </div>
          </div>
          <div class="form-group">
            <label for="url" class="col-md-4 control-label">Document URL <span class="required-text">*</span></label>
            <div class="col-md-8">
              <input id="url" class="form-control" type="text" placeholder="http://assets.mylocalserver.org/pages/blog01/index.html" ng-model="documentLoader.url" ng-required="true">
            </div>
          </div>
          <div class="form-group">
            <label for="url" class="col-md-4 control-label">Masked URL</label>
            <div class="col-md-8">
              <input id="url" class="form-control" type="text" placeholder="https://www.myblog.info/posts/hello-world" ng-model="documentLoader.maskedUrl">
            </div>
          </div>
          <div class="form-group">
            <label for="url" class="col-md-4 control-label">Document Title <span class="required-text">*</span></label>
            <div class="col-md-8">
              <input id="url" class="form-control" type="text" placeholder="The origins of the 'Hello World' expression" ng-model="documentLoader.title" ng-required="true">
            </div>
          </div>
          <div class="form-group">
            <label for="locale" class="col-md-4 control-label">Locale Code <span class="required-text">*</span></label>
            <div class="col-md-8">
              <ui-select id="locale" ng-model="documentLoader.locale" ng-required="true">
                <ui-select-match placeholder="Select locale">{{ $select.selected.name }}</ui-select-match>
                <ui-select-choices repeat="locale.properties.code as locale in documentLoader.locales | filter: { name: $select.search }">
                  {{ locale.name }} <small>{{ locale.properties.code }}</small>
                </ui-select-choices>
              </ui-select>
              <!--
              <input id="locale" class="form-control" type="text" placeholder="en" ng-model="documentLoader.locale" ng-required="true">
              -->
            </div>
          </div>
          <div class="form-group">
            <label for="domain" class="col-md-4 control-label">Domain <span class="required-text">*</span></label>
            <div class="col-md-8">
              <ui-select multiple id="domain" ng-model="documentLoader.domain" sortable="true" close-on-select="false" ng-required="true">
                <ui-select-match placeholder="Select domains">{{ $item.name }}</ui-select-match>
                <ui-select-choices repeat="domain.properties.alias as domain in documentLoader.domains | filter: { name: $select.search }">
                  {{ domain.name }} <small>{{ domain.properties.alias }}</small>
                </ui-select-choices>
              </ui-select>
              <!--
              <input id="domain" class="form-control" type="text" placeholder="science" ng-model="documentLoader.domain" ng-required="true">
              -->
            </div>
          </div>
          <div class="form-group">
            <label for="task" class="col-md-4 control-label">Task <span class="required-text">*</span></label>
            <div class="col-md-8">
              <ui-select multiple id="task" ng-model="documentLoader.task" sortable="true" close-on-select="false" ng-required="true">
                <ui-select-match placeholder="Select tasks">{{ $item.name }}</ui-select-match>
                <ui-select-choices repeat="task.properties.alias as task in documentLoader.tasks | filter: { name: $select.search }">
                  {{ task.name }} <small>{{ task.properties.alias }}</small>
                </ui-select-choices>
              </ui-select>
              <!--
              <input id="task" class="form-control" type="text" placeholder="article" ng-model="documentLoader.task" ng-required="true">
              -->
            </div>
          </div>
          <div class="form-group">
            <label for="keyword" class="col-md-4 control-label">Keywords</label>
            <div class="col-md-8">
              <input id="keyword" class="form-control" type="text" placeholder="meteor, blog article, computers" ng-model="documentLoader.keywords">
            </div>
          </div>
          <div class="form-group">
            <label for="snippet" class="col-md-4 control-label">Search Snippet</label>
            <div class="col-md-8">
              <textarea id="snippet" class="form-control" rows="5" placeholder="This is a brief description of the contents of the website, shown as a fallback 'search snippet' in case NEURONE's search index cannot build one automatically." ng-model="documentLoader.snippet"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="documentLoader.relevant"> Relevant Document
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
              <span class="required-text">*</span> Required field
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-center">
            <button type="submit" class="btn btn-info" ng-click="documentLoader.previewDocument()">
              <i class="fa fa-eye" aria-hidden="true"></i> Preview Page from URL
            </button>
          </div>
          <div class="col-md-6 text-center">
            <button type="submit" class="btn btn-success" ng-click="documentLoader.downloadDocument()">
              <i class="fa fa-download" aria-hidden="true"></i> Download Page from URL
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-7 flexbox-center-parent">
      <div ng-if="documentLoader.state === 'wait'">
        <h3>Waiting for input...</h3>
      </div>
      <div ng-if="documentLoader.state === 'load'">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Downloading web page...</span>
      </div>
      <div ng-if="documentLoader.state === 'error'">
        <h3>Error while downloading!</h3>
      </div>
      <div ng-if="documentLoader.state === 'show'" class="iframe-parent">
        <p><b>Page Downloaded!</b> | {{documentLoader.doc.docName}} | {{documentLoader.doc._id}}</p>
        <br>
        <iframe class="iframe-child" ng-src="{{documentLoader.route}}"></iframe>
      </div>
    </div>
  </div>
</div>