<div class="container-fluid">
  <div class="row">
    The NEURONE Document Manager lists all documents loaded into the platform.
  </div>
  <br>
  <div class="row">
    <div class="well well-sm" ng-repeat="doc in documentManager.docs track by $index">
      <div class="row">
        <div class="col-md-10">
          <b>Document Name:</b> {{doc.docName}}  [ <b>Relevant:</b> {{ !!(doc.relevant) }} | <b>Locale:</b> {{ doc.locale }} | <b>Domain:</b> {{ doc.topic[0] }} | <b>Task:</b> {{ doc.test[0] }} ]
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-xs btn-danger pull-right" ng-click="documentManager.deleteDocument(doc)">
            <i class="fa fa-trash-o"></i> Remove
          </button>
          <button type="button" class="btn btn-xs btn-info pull-right" ng-click="documentManager.editDocument(doc)">
            <i class="fa fa-pencil-square-o"></i> Edit
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a class="search-result-title" ui-sref="displayPage({ docName: doc._id })" target="_blank">{{doc.title}}</a>
          <div>
            <span class="search-result-url">{{doc.url}}</span>
          </div>
          <div class="search-result-snippet highlight">{{doc.searchSnippet | words: 50}}</div>
        </div>
      </div>
    </div>
  </div>
</div>