<div class="container-fluid">
  <div class="row">
    The <b>NEURONE User Enrollment</b> module allows the researcher to create multiple student accounts for its own studies (defined on <b>Study Manager</b>). Each user account is tied to a single Study Flow. In case of need to run multiple flows on each student, create multiple accounts for each one.
  </div>
  <br>
  <div class="row">
    <form name="enrollment.form">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4 form-horizontal">
            <div class="row">
              <div class="form-group">
                <label for="flow" class="col-md-5 control-label">Study Flow</label>
                <ui-select id="flow" ng-model="enrollment.flow" class="col-md-7" ng-required="true">
                  <ui-select-match placeholder="Select study flow">{{ $select.selected.id }}</ui-select-match>
                  <ui-select-choices repeat="flow in enrollment.flows | filter: { id: $select.search }">
                    <div>{{ flow.id }} <small>{{ flow.locale }}</small></div>
                    <small>Domain: {{ flow.domain }} · Task: {{ flow.task }}</small>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="form-group">
                <label for="stage" class="col-md-5 control-label">Application Stage</label>
                <div class="col-md-7">
                  <input id="stage" class="form-control" type="number" min="1" ng-min="1" max="9" ng-max="9" ng-model="enrollment.studyStage" ng-required="true">
                </div>
              </div>
              <div class="form-group">
                <label for="order" class="col-md-5 control-label">Study Order</label>
                <div class="col-md-7">
                  <input id="order" class="form-control" type="number" min="1" ng-min="1" max="9" ng-max="9" ng-model="enrollment.studyOrder" ng-required="true">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 form-horizontal">
            <div class="row">
              <div class="form-group">
                <label for="test" class="col-md-5 control-label">Account Type</label>
                <div class="col-md-7">
                  <select id="test" class="form-control" ng-model="enrollment.testAct" ng-required="true">
                    <option value="true">Test Account</option>
                    <option value="false">Real Account</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="start-id" class="col-md-5 control-label">Starting User ID</label>
                <div class="col-md-7">
                  <input id="start-id" class="form-control" type="number" min="0" ng-min="0" max="9999" ng-max="9999" ng-model="enrollment.idStart" ng-required="true">
                </div>
              </div>
              <div class="form-group">
                <label for="end-id" class="col-md-5 control-label">Ending User ID</label>
                <div class="col-md-7">
                  <input id="end-id" class="form-control" type="number" min="0" ng-min="0" max="9999" ng-max="9999" ng-model="enrollment.idEnd" ng-required="true">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 form-horizontal">
            <div class="row">
              <div class="form-group">
                <label for="code-u" class="col-md-5 control-label">University Code</label>
                <div class="col-md-7">
                  <input id="code-u" class="form-control" type="number" min="0" ng-min="0" max="9" ng-max="9" ng-model="enrollment.university" ng-required="true">
                </div>
              </div>
              <div class="form-group">
                <label for="code-school" class="col-md-5 control-label">School Code</label>
                <div class="col-md-7">
                  <input id="code-school" class="form-control" type="number" min="0" ng-min="0" max="99" ng-max="99" ng-model="enrollment.school" ng-required="true">
                </div>
              </div>
              <div class="form-group">
                <label for="code-class" class="col-md-5 control-label">Class Code</label>
                <div class="col-md-7">
                  <input id="code-class" class="form-control" type="text" ng-minlength="1" ng-maxlength="1" ng-pattern="enrollment.allUppercaseRegex" ng-model="enrollment.class" ng-required="true">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row admin-row-spacing text-center">
          <button type="button" class="btn btn-info" ng-click="enrollment.generateUsers()">Generate Users</button>
        </div>
        <div class="row admin-row-spacing text-center">
          <button type="button" class="btn btn-success" ng-click="enrollment.registerUsers()">Register Users</button>
        </div>
        <div class="row admin-row-spacing text-center">
          <button type="button" class="btn btn-warning" ng-csv="enrollment.userList" filename="neuroneUsers.csv">Export as CSV</button>
        </div>
      </div>
    </form>
  </div>
  <hr>
  <div class="row">
    <table class="table table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            Username
          </th>
          <th>
            Password
          </th>
          <th>
            Test
          </th>
          <th>
            University
          </th>
          <th>
            School
          </th>
          <th>
            Class
          </th>
          <th>
            Domain
          </th>
          <th>
            Task
          </th>
          <th>
            Stage
          </th>
          <th>
            Order
          </th>
          <th>
            UserId
          </th>
          <th>
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in enrollment.userList track by $index">
          <td>
            {{$index+1}}
          </td>
          <td>
            {{user.username}}
          </td>
          <td>
            {{user.password}}
          </td>
          <td>
            {{user.test}}
          </td>
          <td>
            {{user.university}}
          </td>
          <td>
            {{user.school}}
          </td>
          <td>
            {{user.class}}
          </td>
          <td>
            {{user.domain}}
          </td>
          <td>
            {{user.task}}
          </td>
          <td>
            {{user.studyStage}}
          </td>
          <td>
            {{user.studyOrder}}
          </td>
          <td>
            {{user.userId}}
          </td>
          <td>
            <b>{{user.status}}</b>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>