<div class="container container-wrapper">
  <br>
  <form name="affective.form">
    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-body">
          <ul class="chat">
            <li class="left clearfix" ng-if="affective.msg1"><span class="chat-img pull-left">
              <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
            </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <strong class="primary-font">Niina</strong> <small class=" pull-right text-muted"></small>
                </div>
                <p>
                  Hi there! Welcome and thanks for your time. My name is Niina. How do you feel now?
                </p>
                <p>
                  <i>Below you will find a list of smileys representing positive and negative feelings. The extreme left and extreme right indicates very strong feelings. Please choose the one that better express how you feel now.</i>
                </p>
              </div>
            </li>
            <li class="right clearfix" ng-if="affective.msg2"><span class="chat-img pull-right">
              <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
            </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <small class=" text-muted"></small>
                  <strong class="pull-right primary-font">User</strong>
                </div>
                <div id="scaleAnswer1">
                  <ng-form name="affective.scale1">
                    <table class="table table-borderless table-condensed table-nonfluid">
                      <tbody>
                        <tr>
                          <td></td>
                          <td class="text-center scale-option">I1</td>
                          <td class="text-center scale-option"></td>
                          <td class="text-center scale-option">I2</td>
                          <td class="text-center scale-option"></td>
                          <td class="text-center scale-option">I3</td>
                          <td class="text-center scale-option"></td>
                          <td class="text-center scale-option">I4</td>
                          <td class="text-center scale-option"></td>
                          <td class="text-center scale-option">I5</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td class="text-right">Very Unhappy</td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale1response" ng-value="1" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale1response" ng-value="2" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale1response" ng-value="3" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale1response" ng-value="4" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale1response" ng-value="5" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale1response" ng-value="6" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale1response" ng-value="7" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale1response" ng-value="8" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale1response" ng-value="9" ng-required="true">
                          </td>
                          <td class="text-left">Very Happy</td>
                        </tr>
                      </tbody>
                    </table>
                  </ng-form>
                </div>
              </div>
            </li>
            <li class="left clearfix" ng-if="affective.msg3"><span class="chat-img pull-left">
              <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
            </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <strong class="primary-font">Niina</strong> <small class="pull-right text-muted"></small>
                </div>
                <p>
                  I see. And how calm or anxious would you say you are in this moment?
                </p>
                <p>
                  <i>Below you will find a list of smileys representing levels of anxiety and calmness. The extreme left and extreme right indicates very strong feelings. Please choose the one that better express how you feel now.</i>
                </p>
              </div>
            </li>
            <li class="right clearfix" ng-if="affective.msg4"><span class="chat-img pull-right">
              <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
            </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <small class="text-muted"></small>
                  <strong class="pull-right primary-font">User</strong>
                </div>
                <div id="scaleAnswer2">
                  <ng-form name="affective.scale2">
                    <table class="table table-borderless table-condensed table-nonfluid">
                      <tbody>
                        <tr>
                          <td></td>
                          <td class="text-center scale-option">I1</td>
                          <td class="text-center scale-option"></td>
                          <td class="text-center scale-option">I2</td>
                          <td class="text-center scale-option"></td>
                          <td class="text-center scale-option">I3</td>
                          <td class="text-center scale-option"></td>
                          <td class="text-center scale-option">I4</td>
                          <td class="text-center scale-option"></td>
                          <td class="text-center scale-option">I5</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td class="text-right">Very Anxious</td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale2response" ng-value="1" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale2response" ng-value="2" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale2response" ng-value="3" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale2response" ng-value="4" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale2response" ng-value="5" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale2response" ng-value="6" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale2response" ng-value="7" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale2response" ng-value="8" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale2response" ng-value="9" ng-required="true">
                          </td>
                          <td class="text-left">Very Calm</td>
                        </tr>
                      </tbody>
                    </table>
                  </ng-form>
                </div>
              </div>
            </li>
            <li class="left clearfix" ng-if="affective.msg5"><span class="chat-img pull-left">
              <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
            </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <strong class="primary-font">Niina</strong> <small class="pull-right text-muted"></small>
                </div>
                <p>
                  Ok! We are all set to start. Please click on the "Next" button to continue!
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>

<!--
<div id="scaleAnswer">
  <table class="table table-borderless table-condensed table-nonfluid">
    <tbody>
      <tr>
        <td></td>
        <td class="text-center scale-option">I1</td>
        <td class="text-center scale-option"></td>
        <td class="text-center scale-option">I2</td>
        <td class="text-center scale-option"></td>
        <td class="text-center scale-option">I3</td>
        <td class="text-center scale-option"></td>
        <td class="text-center scale-option">I4</td>
        <td class="text-center scale-option"></td>
        <td class="text-center scale-option">I5</td>
        <td></td>
      </tr>
      <tr>
        <td class="text-right">Very Unhappy</td>
        <td class="text-center scale-choice">
          <input type="radio" ng-model="affective.scale1response" ng-value="1" ng-required="true">
        </td>
        <td class="text-center scale-choice">
          <input type="radio" ng-model="affective.scale1response" ng-value="2" ng-required="true">
        </td>
        <td class="text-center scale-choice">
          <input type="radio" ng-model="affective.scale1response" ng-value="3" ng-required="true">
        </td>
        <td class="text-center scale-choice">
          <input type="radio" ng-model="affective.scale1response" ng-value="4" ng-required="true">
        </td>
        <td class="text-center scale-choice">
          <input type="radio" ng-model="affective.scale1response" ng-value="5" ng-required="true">
        </td>
        <td class="text-center scale-choice">
          <input type="radio" ng-model="affective.scale1response" ng-value="6" ng-required="true">
        </td>
        <td class="text-center scale-choice">
          <input type="radio" ng-model="affective.scale1response" ng-value="7" ng-required="true">
        </td>
        <td class="text-center scale-choice">
          <input type="radio" ng-model="affective.scale1response" ng-value="8" ng-required="true">
        </td>
        <td class="text-center scale-choice">
          <input type="radio" ng-model="affective.scale1response" ng-value="9" ng-required="true">
        </td>
        <td class="text-left">Very Happy</td>
      </tr>
    </tbody>
  </table>
</div>
-->