<div class="container">
  <br>
  <form name="affective.form">
    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-body">
          <ul class="chat">
            <li class="left clearfix" ng-if="affective.msg1"><span class="chat-img pull-left">
              <img ng-src="images/sam/{{affective.avatar}}.png" alt="User Avatar" class="img-circle chat-image" />
            </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <strong class="primary-font">{{affective.avatar}}</strong> <small class=" pull-right text-muted"></small>
                </div>
                <p>
                  {{ "sam.avatar_d1" | translate: { avatar: affective.avatar } }}
                </p>
                <p>
                  <i>{{ "sam.instructions1" | translate }}</i>
                </p>
              </div>
            </li>
            <li class="right clearfix" ng-if="affective.msg2"><span class="chat-img pull-right">
              <img src="images/sam/userAvatar.png" alt="User Avatar" class="img-circle chat-image" />
            </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <small class=" text-muted"></small>
                  <strong class="pull-right primary-font">{{ "sam.user" | translate }}</strong>
                </div>
                <p>
                  {{ "sam.user_d1" | translate }}
                </p>
                <div id="scaleAnswer1">
                  <ng-form name="affective.scale1">
                    <table class="table table-borderless table-condensed table-nonfluid">
                      <tbody>
                        <tr>
                          <td></td>
                          <td class="text-center scale-option"><img src="images/sam/happy1.png" class="chat-image" /></td>
                          <td class="text-center scale-option"></td>
                          <td class="text-center scale-option"><img src="images/sam/happy2.png" class="chat-image" /></td>
                          <td class="text-center scale-option"></td>
                          <td class="text-center scale-option"><img src="images/sam/happy3.png" class="chat-image" /></td>
                          <td class="text-center scale-option"></td>
                          <td class="text-center scale-option"><img src="images/sam/happy4.png" class="chat-image" /></td>
                          <td class="text-center scale-option"></td>
                          <td class="text-center scale-option"><img src="images/sam/happy5.png" class="chat-image" /></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td class="text-right">{{ "sam.positive_less" | translate }}</td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale1response" ng-value="-4" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale1response" ng-value="-3" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale1response" ng-value="-2" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale1response" ng-value="-1" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale1response" ng-value="0" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale1response" ng-value="1" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale1response" ng-value="2" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale1response" ng-value="3" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale1response" ng-value="4" ng-required="true">
                          </td>
                          <td class="text-left">{{ "sam.positive_more" | translate }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </ng-form>
                </div>
              </div>
            </li>
            <li class="left clearfix" ng-if="affective.msg3"><span class="chat-img pull-left">
              <img ng-src="images/sam/{{affective.avatar}}.png" alt="User Avatar" class="img-circle chat-image" />
            </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <strong class="primary-font">{{affective.avatar}}</strong> <small class="pull-right text-muted"></small>
                </div>
                <p>
                  {{ "sam.avatar_d2" | translate }}
                </p>
                <p>
                  <i>{{ "sam.instructions2" | translate }}</i>
                </p>
              </div>
            </li>
            <li class="right clearfix" ng-if="affective.msg4"><span class="chat-img pull-right">
              <img src="images/sam/userAvatar.png" alt="User Avatar" class="img-circle chat-image" />
            </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <small class="text-muted"></small>
                  <strong class="pull-right primary-font">{{ "sam.user" | translate }}</strong>
                </div>
                <p>
                  {{ "sam.user_d2" | translate }}
                </p>
                <div id="scaleAnswer2">
                  <ng-form name="affective.scale2">
                    <table class="table table-borderless table-condensed table-nonfluid">
                      <tbody>
                        <tr>
                          <td></td>
                          <td class="text-center scale-option"><img src="images/sam/calm1.png" class="chat-image" /></td>
                          <td class="text-center scale-option"></td>
                          <td class="text-center scale-option"><img src="images/sam/calm2.png" class="chat-image" /></td>
                          <td class="text-center scale-option"></td>
                          <td class="text-center scale-option"><img src="images/sam/calm3.png" class="chat-image" /></td>
                          <td class="text-center scale-option"></td>
                          <td class="text-center scale-option"><img src="images/sam/calm4.png" class="chat-image" /></td>
                          <td class="text-center scale-option"></td>
                          <td class="text-center scale-option"><img src="images/sam/calm5.png" class="chat-image" /></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td class="text-right">{{ "sam.calm_less" | translate }}</td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale2response" ng-value="-4" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale2response" ng-value="-3" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale2response" ng-value="-2" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale2response" ng-value="-1" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale2response" ng-value="0" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale2response" ng-value="1" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale2response" ng-value="2" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale2response" ng-value="3" ng-required="true">
                          </td>
                          <td class="text-center scale-choice">
                            <input type="radio" ng-model="affective.scale2response" ng-value="4" ng-required="true">
                          </td>
                          <td class="text-left">{{ "sam.calm_more" | translate }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </ng-form>
                </div>
              </div>
            </li>
            <li class="left clearfix" ng-if="affective.msg5"><span class="chat-img pull-left">
              <img ng-src="images/sam/{{affective.avatar}}.png" alt="User Avatar" class="img-circle chat-image" />
            </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <strong class="primary-font">{{affective.avatar}}</strong> <small class="pull-right text-muted"></small>
                </div>
                <p>
                  {{ "sam.avatar_d3" | translate }}
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>