<div class="container">
  <br>
  <div class="row">
    <div class="col-md-2 col-xs-1">
      <img src="{{taskQuestions.avatarImage}}" class="img-responsive">
    </div>
    <div class="col-md-8 col-xs-10">
      <div>
        <p>{{taskQuestions.form.instructions}}<br>
        <b class="form-asterisk">*</b> {{"form.requiredAnswer" | translate}}</p>
      </div>
      <hr>
      <form name="taskQuestions.taskForm" ng-submit="taskQuestions.submit()">
        <div ng-repeat="question in taskQuestions.form.questions track by $index">
          <question data="question"></question>
          <br>
        </div>
      </form>
      <br>
    </div>
  </div>
</div>