<div class="form-group">
  <label for="checkboxAnswer">
    {{$ctrl.data.title}} <span ng-if="$ctrl.data.required" class="form-asterisk">*</span>
  </label>
  <span id="hint" class="help-block" ng-if="$ctrl.data.hint">{{$ctrl.data.hint}}</span>
  <div id="checkboxAnswer" class="checkbox" ng-repeat="option in $ctrl.data.options track by $index">
    <label>
      <input type="checkbox" name="question" ng-model="$ctrl.data.answer[option]" ng-value="option">
      {{option}}
    </label>
  </div>
</div>