<div class="form-group">
  <label for="rangeAnswer">
    {{$ctrl.data.title}} <span ng-if="$ctrl.data.required" class="form-asterisk">*</span>
  </label>
  <span id="hint" class="help-block" ng-if="$ctrl.data.hint">{{$ctrl.data.hint}}</span>
  <div id="scaleAnswer">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th></th>
          <th ng-repeat="option in $ctrl.scaleArray track by $index">{{option}}</th>
          <th></th>
        </tr>
        <tr>
          <th>{{$ctrl.data.minLabel}}</th>
          <th ng-repeat="option in $ctrl.scaleArray track by $index">
            <input type="radio" name="question" ng-model="$ctrl.data.answer" ng-value="option" ng-required="$ctrl.data.required && !$ctrl.data.isOtherAnswer">
          </th>
          <th>{{$ctrl.data.maxLabel}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>