<div class="container-fluid">
  <div class="form-horizontal">
    <div class="form-group form-group-fix">
      <label for="title" class="col-md-4 control-label">Title</label>
      <div class="col-md-8">
        <input id="title" class="form-control" type="text" placeholder="What's the result of 2+2?" ng-model="modal.answers.title" ng-required="true">
      </div>
    </div>
    <div class="form-group form-group-fix">
      <label for="hint" class="col-md-4 control-label">Hint</label>
      <div class="col-md-8">
        <input id="hint" class="form-control" type="text" placeholder="It's a math operation!" ng-model="modal.answers.hint">
      </div>
      <div class="form-group form-group-fix">
        <div class="col-md-offset-4 col-md-8">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="modal.answers.required"> Required text answer
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>