<div class="container">
  <div class="small-search text-center">   
    <form class="row center-block" ng-submit="searchResults.doSearch()">
      <div class="col-md-6 col-md-offset-2 search-box">
        <input class="form-control" placeholder="Enter Text to Search" id="searchText" type="text" ng-model="searchResults.searchText">
      </div>
      <div class="col-md-1"><button type="submit" class="btn btn-success search-box" id="btn-search"><i class="fa fa-search"></i> {{"search.searchButton" | translate}}</button></div>
      <div class="col-md-3"></div>
    </form>
  </div>
  <hr>
  <div id="searchResults">
    <div ng-repeat="doc in searchResults.documents track by doc._id">
      <a class="search-result-title" ui-sref="displayIframe({ docName: doc.docName })">{{doc.title}}</a>
      <div class="search-result-url">{{doc.url}}</div>
      <div class="search-result-snippet">{{doc.body | limitTo: 256}}{{doc.body.length > 256 ? '...' : ''}}</div>
      <br>
    </div>
    <div ng-if="searchResults.resultsReady && searchResults.documents.length <= 0">
      <h3 class="text-center">{{"search.noResults" | translate}}</h3>
    </div>
  </div>
</div>