<div class="container">
  <div class="synthesis-container">
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 synthesis-sidebar">
      <h1>Synthesis</h1>
      <p>{{synthesis.question}}</p>
      <form ng-submit="synthesis.submit()">
        <ng-wig ng-model="synthesis.answer" buttons="formats, bold, italic, underline, list1, list2"></ng-wig>
        <br>
        <button type="submit" class="btn btn-primary">{{"synthesis.submitButton" | translate}}</button>
        <!--<span ng-if="synthesis.answer">{{"synthesis.submitted" | translate}}</span>-->
      </form>
      <br>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 synthesis-sidebar">
      <div class="row col-md-12">
        <div id="snippetList" class="panel panel-info synthesis-element">
          <div class="panel-heading">{{"synthesis.snippets" | translate}}</div>
          <div class="panel-body synthesis-element-body">
            <uib-accordion close-others="oneAtATime">
              <div uib-accordion-group class="panel-default" ng-repeat="snip in synthesis.snippets track by $index" heading="{{snip.title}}">
                <p>{{snip.local_time | date: "yyyy-MM-dd HH:mm:ss"}}</p>
                <p>{{snip.snipped_text}}</p>
              </div>
            </uib-accordion>  
          </div>
        </div>
      </div>
      <div class="row col-md-12">
        <div id="bookmarkList" class="panel panel-warning synthesis-element">
          <div class="panel-heading">{{"synthesis.bookmarks" | translate}}</div>
          <div class="panel-body synthesis-element-body">
            <div ng-repeat="bm in synthesis.bookmarks track by $index">
              <b><a href="javascript:void(0);" ng-click="synthesis.showBookmarkModal(bm)">{{bm.title}}</a></b> {{bm.local_time | date: "yyyy-MM-dd HH:mm:ss"}}
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>