<div class="container">
  <div class="synthesis-container">
    <div class="col-md-8 col-sm-8 col-xs-8 synthesis-sidebar">
      <h1>Synthesis</h1>
      <p>{{synthesis.question}}</p>
      <form ng-submit="synthesis.submit()">
        <ng-wig ng-model="synthesis.answer" buttons="formats, bold, italic, underline, list1, list2"></ng-wig>
        <br>
        <button type="submit" class="btn btn-primary">{{"synthesis.submitButton" | translate}}</button>
        <span ng-if="synthesis.answer">{{"synthesis.submitted" | translate}}</span>
        <button class="button" ng-click="synthesis.showSnippetModal()">modal</button>
      </form>
      <br>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 synthesis-sidebar">
      <div class="row col-md-12">
        <div id="snippetList" class="panel panel-info synthesis-element">
          <div class="panel-heading">{{"synthesis.snippets" | translate}}</div>
          <div class="panel-body synthesis-element-body">
            <div ng-repeat="snip in synthesis.snippets track by $index">
              <b>{{snip.title}}</b> {{snip.local_time | date: "yyyy-MM-dd HH:mm:ss"}}
              <p>{{snip.snipped_text}}</p>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="row col-md-12">
        <div id="bookmarkList" class="panel panel-warning synthesis-element">
          <div class="panel-heading">{{"synthesis.bookmarks" | translate}}</div>
          <div class="panel-body synthesis-element-body">
            <div ng-repeat="bm in synthesis.bookmarks track by $index">
              <b><a href="{{bm.url}}">{{bm.title}}</a></b> {{bm.local_time | date: "yyyy-MM-dd HH:mm:ss"}}
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>