<div class="container-fluid">
  <div>
    In the <b>Task Questions Stage</b> students must answer a questionnaire (from Form Builder).
  </div>
  <br>
  <div class="form-horizontal">
    <div class="form-group form-group-fix">
      <label for="sid" class="col-md-4 control-label">Stage ID</label>
      <div class="col-md-8">
        <input id="sid" class="form-control" type="text" placeholder="instructions-begin" ng-model="modal.answers.id" ng-required="true">
      </div>
    </div>
    <div class="form-group form-group-fix">
      <label for="time" class="col-md-4 control-label">Time Limit (minutes)</label>
      <div class="col-md-8">
        <input id="time" class="form-control" type="number" min="-1" ng-min="-1" placeholder="-1" ng-model="modal.answers.time" ng-required="true">
      </div>
    </div>
    <div class="form-group form-group-fix">
      <label for="template" class="col-md-4 control-label">Questionnaire</label>
      <div class="col-md-8">
        <ui-select id="template" ng-model="modal.answers.questionnaire" ng-required="true">
          <ui-select-match placeholder="Select questionnaire">{{ $select.selected.questionnaireId }}</ui-select-match>
          <ui-select-choices repeat="qs.questionnaireId as qs in modal.fields.questionnaires">
            {{ qs.questionnaireId }}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="form-group form-group-fix">
      <label for="avatar" class="col-md-4 control-label">Avatar Image Template</label>
      <div class="col-md-8">
        <ui-select id="avatar" ng-model="modal.answers.avatarImage" ng-required="true">
          <ui-select-match placeholder="Select image">{{ $item.meta.referencePath }}</ui-select-match>
          <ui-select-choices repeat="image.meta.referencePath as image in modal.fields.images | filter: { name: $select.search }">
            <div>{{ image.name }}</div>
            <small>{{ image.meta.referencePath }}</small>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="form-group form-group-fix">
      <label for="urlparams" class="col-md-4 control-label">URL Parameter</label>
      <div class="col-md-8">
        <input id="urlparams" class="form-control" type="text" placeholder="instructions-begin" ng-model="modal.answers.urlParams.stage" ng-required="true">
      </div>
    </div>
  </div>
  <!--<pre>{{ modal.answers | json: 2 }}</pre>-->
</div>