<div class="wrapper">
  <form class="form-signin"> 
    <h2 class="form-signin-heading">Reset Password</h2>
    <p>Enter your email so we can send you a reset link</p>
    <input type="text" class="form-control" name="email" ng-model="password.credentials.email" placeholder="Email Address" required autofocus />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Send Email</button>
    <p>{{password.error.message}}</p>
  </form>
  <a class="btn btn-info" href="/login" role="button">Sign in</a>
</div>